.box {
	margin: 5px;
	border: 2px solid #ccc;
}

ul {
	list-style-type: none;	
}

#loginForm ul li label {
	width: 100px;	
	display: inline-block;
}

.hiden {
	display: none;
}

.red {	
	background-color: #ff9999;
}

.green {	
	background-color: #ccffcc;
}

#addQuestion p, #addQuestion {
	border: 1px solid #ccc;
	padding: 5px;
	size: auto;
}

#questionText {
	font-size: x-large;
	font-weight: 600;
}
#addQuestionForm {
	margin: 5px;
}

#question {
	width: 400px;
}

