<div id="nav">
		<h2>Список вопросов</h2>
		<button id="question1">1</button>
		<button id="question2">2</button>
		<button id="question3">3</button>
		<button id="question4">4</button>
		<button id="question5">5</button>
		<button id="question6">6</button>
		<button id="question7">7</button>
		<button id="question8">8</button>
		<button id="question9">9</button>
		<button id="question10">10</button>
		<hr>
</div>
<div id="question">
	
</div>
<div>
	<hr>
	<button id="endTest">Закончить тест</button>
</div>