<div>
	<h1>Привет, {{name}}</h1>
	<p>Мы приветствуем Вас на вашей странице</p>		
	<h2>Нажмите "Старт" для начала тестирования</h2>

	<p>Вы проходили тест <strong>{{count}}</strong> раз</p>
	<p>Ваш средний результат <strong>{{resalt}}</strong> баллов</p>
	
	<button id="start">Старт</button>
	
</div>