<div>
	<form id="loginForm" action="">
		<ul>
			<li>
				<label for="login">Login</label>
				<input type="login" name="login" id="login" required="true" placeholder="your login" class="box username field">
			</li>
			<li>
				<label for="password">Password</label>
				<input type="password" name="password" id="password" required="true" placeholder="your password" class="box password flex-table-form">
			</li>
			<li>
				<input type="submit" name="submit" id="submit" class="btn btn-submit">
			</li>
		</ul>
	</form>
</div>