<div>
	<h1 class="header">Приветствуем, {{name}}</h1>
	<div>
		<h2>Вы администратор</h2>
		<hr>

		<button id = "addNewUser">Добавить пользователя</button>

	</div>

	<form id="addUserForm" class="hiden" action="">
	  <div>
	    <input type="text" name="first_name" placeholder="Enter name" required id="adminLogin" class="box">
	  </div>
	  <div>
	    <input type="password" name="password" placeholder="password" required id="adminPassword" class="box">
	  </div>
	  <div>
	    <input type="checkbox" name="check" id="checkbox" class="box">
	    <label for="checkbox"> админинистратор</label>
	    <div id="validMessage"></div>
	  </div>

	  <button id="addUser">Add User</button>
	</form>
	<hr>
	
	<button id="showQuestionForm">Добавить новый вопрос</button>
		
	<div id="addQuestionForm" class="hiden">
		<form id="choseQuestionTypeForm">
			<label>Один ответ<input type="radio" name="choseQuestion" id="answerradio"></label>
			<label>Несколько ответов<input type="radio" name="choseQuestion" id="answercheckbox"></label>
			<label>Ответ строка<input type="radio" name="choseQuestion" id="answertext"></label>
			<p><button type="submit">ок</button></p>
		</form>	
		<div id="addQuestion" class="hiden">
			<p>			
				<input type="text" id="question" name="question">
				<label for="question" id = "questionText">Введите вопрос</label>
			</p>
			<div id="answerContainer">		

			</div>
			<p><button id="addNewQuestion">Добавить вопрос</button></p>
		</div>

	</div>
	<hr>

	<p><button id="showUsers">Показать всех пользователей</button> </p>

	<div id="showUsersContainer" class="hiden">
		
	</div>

	<hr>

	<p><button id="showQuestion">Показать все вопросы</button> </p>

	<div id="showQuestionContainer" class="hiden">
		
	</div>
	
</div>
