<div>
	<h1 class="header">Приветствуем, {{name}}</h1>
	<div>
		<h2>Вы администратор</h2>
		<hr>

		<button id = "addNewUser">Добавить пользователя</button>

	</div>

	<form id="addUserForm" class="hiden" action="">
	  <div>
	    <input type="text" name="first_name" placeholder="Enter name" required id="adminLogin" class="box">
	  </div>
	  <div>
	    <input type="password" name="password" placeholder="password" required id="adminPassword" class="box">
	  </div>
	  <div>
	    <input type="checkbox" name="check" id="checkbox" class="box">
	    <label for="checkbox"> админинистратор</label>
	    <div id="validMessage"></div>
	  </div>

	  <button id="addUser">Add User</button>
	</form>
	<hr>
	
	<button id="showQuestionForm">Добавить новый вопрос</button>
		
	<div id="addQuestionForm" class="hiden">	
		<div id="addQuestion">
			<p>			
				<input type="text" id="question" name="question">
				<label for="question" id = "questionText">Введите вопрос</label>
			</p>
			<div id="answers"></div>
			<button id="addAnswer">добавить ответ</button>
			<div id="validMessageQuestion"></div>

		</div>
		<button id="addNewQuestion">Добавить вопрос</button>

	</div>
	
</div>
